<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LibraryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyThuVien">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SachActivity"
            android:exported="false" />
        <activity
            android:name=".SachDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SachAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TheLoaiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TheLoaiEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MuonTraActivity"
            android:exported="false" />
        <activity
            android:name=".PhieuMuonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PhieuTraDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PhieuMuonAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PhieuTraAddActivity"
            android:exported="false" />
        <activity
            android:name=".BanDocActivity"
            android:exported="false" />
        <activity
            android:name=".BanDocDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BanDocAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LienHeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BaoCaoActivity"
            android:exported="false" />
        <activity
            android:name=".BaoCaoChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".NhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".NhanVienDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NhanVienAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
